<h1>list</h1>

<mat-list>
  <h3 mat-subheader>Places</h3>
  <mat-list-item *ngFor="let place of places$ | async"  (click)="onSelect(place)">
    <mat-icon mat-list-icon>edit_location</mat-icon>
    <h4 mat-line>{{ place.place }}</h4>
    <p mat-line> {{ place.prefecture }} </p>
    <button class="delete" title="delete place" (click)="delete($event,place)">
      x
    </button>
  </mat-list-item>
</mat-list>
<app-place-detail
  [place]="selectedPlace"
  (updatePlaceInfo)="update($event)"
></app-place-detail>
