<mat-accordion class="full-width">
  <mat-expansion-panel *ngFor="let place of places$ | async">
    <mat-expansion-panel-header>
      <button
        matSuffix
        mat-icon-button
        type="button"
        (click)="delete($event, place)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-panel-title>
        <mat-icon matPrefix>edit_location</mat-icon>
        {{ place.place }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-place-detail
      [selectedPlace]="place"
      [processName]="processName"
      (processing)="update($event)"
    ></app-place-detail>
  </mat-expansion-panel>
</mat-accordion>
