<h1>行きたい場所登録</h1>

<p>
  名称：
  <input [(ngModel)]="place.place" placeholder="place" />
</p>
<p>
  <mat-form-field>
    <mat-label>都道府県</mat-label>
    <mat-select [(ngModel)]="place.prefecture">
      <mat-option
        *ngFor="let prefecture of prefectures"
        [value]="prefecture.name"
      >
        {{ prefecture.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  住所：
  <input [(ngModel)]="place.addr" placeholder="addr" />
</p>

<button type="submit" class="button" (click)="regist()">登録</button>
