<h1>Regist</h1>
<form>
  <div>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="place"
        [(ngModel)]="place.place"
        name="place"
      />
    </mat-form-field>
  </div>
  <div>
    <app-select-prefectures [place]="place"></app-select-prefectures>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="addr"
        [(ngModel)]="place.addr"
        name="addr"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="price"
        [(ngModel)]="place.price"
        name="price"
      />
    </mat-form-field>
  </div>
  <div>
    <app-select-category [place]="place"></app-select-category>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="time"
        placeholder="open"
        [(ngModel)]="place.open"
        name="open"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="time"
        placeholder="close"
        [(ngModel)]="place.close"
        name="close"
      />
    </mat-form-field>
  </div>
  <button mat-button type="button" (click)="regist()">
    <mat-icon>done</mat-icon>
    regist
  </button>
</form>
