<mat-toolbar color="primary">
  <div>
    <a mat-button routerLink="placeList" class="header-button">
      一覧
    </a>
  </div>
  <div>
    <a mat-button routerLink="placeRegist" class="header-button">
      追加
    </a>
  </div>
  <div>
    <a mat-button routerLink="placeRandom" class="header-button">
      ランダム目的地
    </a>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngIf="auth.loggedIn; else loggedOff">
      <button mat-menu-item>
        <a mat-button class="header-button" (click)="logout()">
          logout
        </a>
      </button>
    </div>
    <ng-template #loggedOff>
      <button mat-menu-item>
        <a mat-button routerLink="login" class="header-button">
          login
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button routerLink="signup" class="header-button">
          signup
        </a>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
