<mat-toolbar color="primary">
  <button mat-button>
    <mat-icon>motorcycle</mat-icon>
  </button>
  <div *ngIf="auth.loggedIn">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a mat-button routerLink="placeList">
        <mat-icon>list</mat-icon>
        List
      </a>
    </button>
    <button mat-menu-item>
      <a mat-button routerLink="placeRegist">
        <mat-icon>add_location</mat-icon>
        Add
      </a>
    </button>
  </mat-menu>
  <div *ngIf="auth.loggedIn">
    <button mat-button [matMenuTriggerFor]="setting">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <mat-menu #setting="matMenu">
    <button mat-menu-item>
      <a mat-button routerLink="category">
        <mat-icon>category</mat-icon>
        category
      </a>
    </button>
    <button mat-menu-item>
      <a mat-button routerLink="userGroup">
        <mat-icon>group</mat-icon>
        group
      </a>
    </button>
    <button mat-menu-item>
      <a mat-button routerLink="userGroupJoin">
        <mat-icon>group_add</mat-icon>
        join group
      </a>
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <div *ngIf="auth.loggedIn; else loggedOff">
      <button mat-menu-item>
        <a mat-button (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          logout
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button routerLink="userinfo">
          <mat-icon>face</mat-icon>
          account
        </a>
      </button>
    </div>
    <ng-template #loggedOff>
      <button mat-menu-item>
        <a mat-button routerLink="login">
          <mat-icon>exit_to_app</mat-icon>
          sign in
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button routerLink="signup">
          <mat-icon>person_add</mat-icon>
          sign up
        </a>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>
