<form>
  <mat-form-field class="full-width">
    <mat-icon matPrefix>location_city</mat-icon>
    <input
      matInput
      type="text"
      placeholder="place"
      [(ngModel)]="place.place"
      name="place"
    />
  </mat-form-field>
  <app-select-prefectures [place]="place"></app-select-prefectures>
  <mat-form-field class="full-width">
    <mat-icon matPrefix>map</mat-icon>
    <input
      matInput
      type="text"
      placeholder="addr"
      [(ngModel)]="place.addr"
      name="addr"
    />
    <a matSuffix [href]="googleMapLink">
      <mat-icon>location_on</mat-icon>
    </a>
  </mat-form-field>
  <div>
    <mat-form-field class="full-width">
      <mat-icon matPrefix>money</mat-icon>
      <input
        matInput
        type="number"
        placeholder="price"
        [(ngModel)]="place.price"
        name="price"
      />
    </mat-form-field>
  </div>
  <div>
    <app-select-category [place]="place"></app-select-category>
  </div>
  <app-business-hours [place]="place"></app-business-hours>
  <div>
    <mat-checkbox [(ngModel)]="place.went" name="went">went</mat-checkbox>
  </div>
  <button mat-button type="button" (click)="onClick()">
    <mat-icon>done</mat-icon>
    {{ processName }}
  </button>
</form>
