<div cdkDropList class="list form" (cdkDropListDropped)="drop($event)">
  <h1>userGroup</h1>
  <div
    class="box"
    *ngFor="let userGroup of userGroups.userGroup; let i = index"
    cdkDrag
    [cdkDragStartDelay]="200"
  >
    {{ userGroup.groupName }}
    <button matSuffix mat-icon-button type="button" (click)="delete(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<form #userGroupForm="ngForm" class="form">
  <mat-form-field class="full-width">
    <input
      matInput
      type="text"
      placeholder="group name"
      [(ngModel)]="groupNameText"
      name="groupName"
      required
      #groupName="ngModel"
    />
  </mat-form-field>
  <button
    mat-button
    type="button"
    (click)="onClick()"
    [disabled]="userGroupForm.invalid"
  >
    <mat-icon>add</mat-icon>
    regist
  </button>
</form>
