<form #loginForm="ngForm" class="form">
    <h1>login</h1>
    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        placeholder="group name"
        [(ngModel)]="groupNameText"
        name="groupName"
        required
        #groupName="ngModel"
      />
    </mat-form-field>
    <button
      mat-button
      type="button"
      (click)="onClick()"
      [disabled]="loginForm.invalid"
    >
      <mat-icon>regist</mat-icon>
      regist
    </button>
  </form>