<h1>select</h1>

<app-filter
  [placeSearchCondition]="placeSearchCondition">
</app-filter>

<button type="submit" class="button" (click)="search()">search</button>
<button type="submit" class="button" (click)="random()">random one</button>

<mat-list>
  <h3 mat-subheader>Places</h3>
  <mat-list-item *ngFor="let result of results$ | async"  (click)="onSelect(result)">
    <mat-icon mat-list-icon>edit_location</mat-icon>
    <h4 mat-line>{{ result.place }}</h4>
    <p mat-line> {{ result.prefecture }} </p>
  </mat-list-item>
</mat-list>

<app-place-detail
  [place]="selectedPlace"
></app-place-detail>