<form #signupForm="ngForm" class="form">
  <h1>sign up</h1>
  <mat-form-field class="full-width">
    <input
      matInput
      type="email"
      placeholder="email"
      [(ngModel)]="emailText"
      name="email"
      required
      #email="ngModel"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input
      matInput
      type="password"
      placeholder="password"
      [(ngModel)]="passwordText"
      name="password"
      required
      #password="ngModel"
    />
  </mat-form-field>
  <button
    mat-button
    type="button"
    (click)="signup()"
    [disabled]="signupForm.invalid"
  >
    <mat-icon>person_add</mat-icon>
    Sign Up
  </button>
</form>
