/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 10px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.form {
  min-width: 150px;
  max-width: 500px;
  margin-right: auto;
  margin-left : auto;
  width: 100%;
}

.full-width {
  width: 100%;
}
input {
  font-size: 16px;
}
