<h1>list</h1>

<div class="form">
  <app-filter [placeSearchCondition]="placeSearchCondition"></app-filter>

  <button mat-button type="button" (click)="search()">
    <mat-icon>search</mat-icon>
    search
  </button>
  <button mat-button type="button" (click)="random()">
    <mat-icon>find_replace</mat-icon>
    random
  </button>
  <button mat-button type="button" (click)="clear()">
    <mat-icon>clear_all</mat-icon>
    clear
  </button>

  <app-place-list
    [places$]="places$"
    (selectPlaceEvent)="select($event)"
    (deletePlaceEvent)="delete($event)"
  ></app-place-list>
  <div *ngIf="selectedPlace">
    <app-place-detail
      [place]="selectedPlace"
      [processName]="processName"
      (processing)="update($event)"
    ></app-place-detail>
  </div>
</div>
